@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: wheat;
    color: whitesmoke;
}

strong {
    color: #F16529;
}

.menu__cabecalho__links {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.menu {
    padding: 0% 0 0 25%;
    background-color: #F16529;
}
 .menu__cabecalho {
    background-color: #F16529;
    display: flex;
    gap: 80px;
 }

 .menu__cabecalho__links {
    background-color: #F16529;
    padding: 23px;
 }

 .rodape {
    display: flex;
    justify-content: center;
    padding: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: #F16529;
 }

 .apresentacao {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 574px;
    padding: 25%;
 }

 .apresentacao__titulo {
    color: #F16529;
    font-family: 'Krona One';
    font-weight: 400;
    font-size: 36px;
 }

 .apresentacao__texto {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
 }
